<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmpay.dao.WmPatriarchDAO">
  <select id="selectPatriarchInfoByOpenId" resultType="wmPatriarchAO">
      SELECT
          A.wm_patriarch_id,
          A.`name` AS patriarch_name,
          A.mobile,
          A.`status`,
          B.*
      FROM
          wm_patriarch AS A
      LEFT JOIN wm_wechat AS B ON A.wm_wechat_id = B.wm_wechat_id
      <where>
        <if test="openid != null">
          B.openid = #{openid}
        </if>
      </where>
  </select>
</mapper>